body {
    background-image: url('images/EAFC26.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center top;
    min-height: 100vh; 
    margin: 0; 
    justify-content: center;
    align-items: center;
}

.center-container {
    text-align: center;
}
.italiano-text {
    font-family: 'Monsieur La Doulaise', cursive;
    color: #fff;
    font-size: 5vw; 
    margin: 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
    position: absolute;
    top: 240px;
    left: 350px;

    text-shadow:
      0 0 8px rgba(255, 255, 255, .9),
      0 0 16px rgba(255, 255, 255, .6),
      0 0 24px rgba(0, 150, 255, .8);

      animation: fadeGlow 3s ease-in-out infinite alternate;
}

@keyframes fadeGlow {
  0% {
    opacity = 0.2;
    text-shadow:
    0 0 4px rgba(255, 255, 255, .3)
    0 0 8px rgba(0, 150, 255, .3)
  }

  50% {
    opacity = 0.2;
    text-shadow:
    0 0 4px rgba(255, 255, 255, .3)
    0 0 8px rgba(0, 150, 255, .3)
  }

  100% {
    opacity = 0.2;
    text-shadow:
    0 0 4px rgba(255, 255, 255, .3)
    0 0 8px rgba(0, 150, 255, .3)
  }
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0 8px 30px rgba(0,0,0,0.5);
    z-index: 100;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}

#player-input {
    padding: 14px 20px;
    font-size: 32px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

#player-input:focus {
    box-shadow: 0 0 25px rgba(0, 123, 255, 0.9);
}

.floating-glowing-3d-box {
  background-image: url('images/NEYMAR.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 150px;
  left: 970px;
  width: 267px;
  height: 290px;
  border-radius: 16px;
  position: relative; 
  transform-style: preserve-3d

    5px 5px 15px rgba(0, 0, 0, .5), 
    5px 5px 15px rgba(0, 0, 0, 0.3), 
    5px 5px 15px rgba(0, 0, 0, 0.3),
    5px 5px 15px rgba(0, 0, 0, 0.3), 
 


    15px 15px 30px rgba(0, 0, 0, 0.2),
    15px 15px 30px rgba(0, 0, 0, 0.2),
    15px 15px 30px rgba(0, 0, 0, 0.2),
    15px 15px 30px rgba(0, 0, 0, 0.2),
    15px 15px 30px rgba(0, 0, 0, 0.2),




    25px 25px 50px rgba(0, 0, 0, 0.1),
    25px 25px 50px rgba(0, 0, 0, 0.1),
    25px 25px 50px rgba(0, 0, 0, 0.1),
    25px 25px 50px rgba(0, 0, 0, 0.1),
    25px 25px 50px rgba(0, 0, 0, 0.1),



    35px 35px 70px rgba(0, 0, 0, .05),
    35px 35px 70px rgba(0, 0, 0, .05),
    35px 35px 70px rgba(0, 0, 0, .05),
    35px 35px 70px rgba(0, 0, 0, .05),
    35px 35px 70px rgba(0, 0, 0, .05);




  filter: drop-shadow(0 0 10px rgba(52, 152, 219, 0.8)) 
          drop-shadow(0 0 20px rgba(52, 152, 219, 0.5)); 
  animation:
    animation1 3s ease-in-out infinite alternate,
    animation2 3s ease-in-out infinite alternate;
}

@keyframes animation1 {
  0% { transform: translateZ(0) translateY(0) rotateX(5deg) rotateY(-5deg); }
  100% { transform: translateZ(40px) translateY(-40px) rotateX(15deg) rotateY(-15deg); }
}

@keyframes animation2 {
      0% { box-shadow: 0 0 10px rgb(230, 233, 230); }
      50% { box-shadow: 0 0 20px rgba(5, 245, 85, 0.5); }
      100% { box-shadow: 0 0 10px rgb(224, 2, 249); }
}






